.container {
  max-width: 65rem;
  margin: 4rem auto 5rem auto;
  padding: 1rem;
  background-color: #000000de;
  border-radius: 10px;
}

.container p{
  color: var(--main-green-lite);
}

.container>div{
  justify-content: space-between;
  align-items: center;
  color: var(--bs-gray-400);
}

.headerTitle {
  margin: 1rem;
  color: var(--main-green-lite);
}

.photoWrapper {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  margin: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 1px 7px 2px #00000091;
}

.photo {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
  border-radius: 100%;
}

.container h3 {
  background-color: var(--main-green);
  color: black;
  font-weight: 800;
  padding-left: 0.1rem;
}

.section {
  color: var(--main-green);
  font-family: system-ui,Ubuntu,Droid Sans,sans-serif;
  font-weight: bold;
}

.articleTitles {
  font-weight: 800;
  color: #b1b1b1 !important;
}

.highlights {
  color: var(--main-yellow);
}

.iconBtn {
  background-color: #900000!important;
  border: var(--main-green);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100%;
}

.iconBtn:hover {
  background-color: var(--main-green-lite);
}

@media only screen and (max-width: 800px){
  .container>div{
    justify-content: center;
  }
}