.post {
    max-width: 50rem;
    border: 1px solid var(--main-green);
    border-radius: 5PX;
    background: black;
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
    color: var(--main-green-lite);
}
